<template>
  <Layout>
    <Header>
      <ProfMenu :selected-keys="selectedKeys" />
    </Header>
    <Layout>
      <Layout class="main-layout">
        <Content>
          <Students />
        </Content>
      </Layout>
    </Layout>
  </Layout>
</template>
<script>
import { Layout } from 'ant-design-vue'
import ProfMenu from '../../components/ProfMenu.vue'
import Students from '../../components/Students.vue'
const { Header, Content } = Layout
export default {
  layout: 'auth',
  components: {
    Students,
    Header,
    Layout,
    Content,
    ProfMenu
  },
  data() {
    return {
      selectedKeys: ['studenti']
    }
  }
}
</script>
