<template>
  <Layout>
    <Header>
      <AdminMenu :selected-keys="selectedKeys" />
    </Header>
    <Layout>
      <Layout class="main-layout">
        <Content>
          <Preferences :student-id="parseInt($route.params.studentId)" />
        </Content>
      </Layout>
    </Layout>
  </Layout>
</template>
<script>
import { Layout } from 'ant-design-vue'
import AdminMenu from '../../components/AdminMenu.vue'
import Preferences from '../../components/Preferences.vue'
const { Content } = Layout
export default {
  layout: 'auth',
  components: {
    Preferences,
    Layout,
    Content,
    AdminMenu
  },
  data() {
    return {
      selectedKeys: ['']
    }
  }
}
</script>
