<template>
  <Layout>
    <Header>
      <AdminMenu :selected-keys="selectedKeys" />
    </Header>
    <Layout>
      <Layout class="main-layout">
        <Content>
          <Preliminary />
        </Content>
      </Layout>
    </Layout>
  </Layout>
</template>
<script>
import { Layout } from 'ant-design-vue'
import AdminMenu from '../../components/AdminMenu.vue'
import Preliminary from '../../components/Preliminary.vue'
const { Content } = Layout
export default {
  layout: 'auth',
  components: {
    Preliminary,
    Layout,
    Content,
    AdminMenu
  },
  data() {
    return {
      selectedKeys: ['preliminarna_lista'],
      professorId: 1
    }
  }
}
</script>
