<template>
  <Layout>
    <Header>
      <AdminMenu :selected-keys="selectedKeys" />
    </Header>
    <Layout>
      <Layout class="main-layout">
        <Content>
          <Professors />
        </Content>
      </Layout>
    </Layout>
  </Layout>
</template>
<script>
import { Layout } from 'ant-design-vue'
import AdminMenu from '../../components/AdminMenu.vue'
import Professors from '../../components/Professors.vue'
const { Header, Content } = Layout
export default {
  layout: 'auth',
  components: {
    Professors,
    Layout,
    Header,
    Content,
    AdminMenu
  },
  data() {
    return {
      selectedKeys: ['profesori']
    }
  }
}
</script>
