<template>
  <Menu
    theme="dark"
    mode="horizontal"
    :style="{ lineHeight: '64px' }"
    :selected-keys="selectedKeys"
    @select="handleMenu"
  >
    <MenuItem key="konacna_lista">
      <Icon type="file-done" />
      <span class="nav-text">Konačna lista</span>
    </MenuItem>
    <MenuItem key="preliminarna_lista">
      <Icon type="project" />
      <span class="nav-text">Preliminarna lista</span>
    </MenuItem>
    <MenuItem key="studenti">
      <Icon type="team" />
      <span class="nav-text">Studenti</span>
    </MenuItem>
    <MenuItem key="profesori">
      <Icon type="team" />
      <span class="nav-text">Profesori</span>
    </MenuItem>
    <MenuItem key="postavke">
      <Icon type="setting" />
      <span class="nav-text">Postavke</span>
    </MenuItem>
    <MenuItem key="odjava">
      <Icon type="poweroff" />
      <span class="nav-text">Odjava</span>
    </MenuItem>
  </Menu>
</template>

<script>
import MenuItem from 'ant-design-vue/lib/menu/MenuItem'
import { Menu, Icon } from 'ant-design-vue'
export default {
  name: 'AdminMenu',
  components: {
    Menu,
    MenuItem,
    Icon
  },
  props: {
    selectedKeys: {
      type: Array,
      required: true
    }
  },
  data() {
    return {}
  },
  computed: {},
  beforeMount() {},
  mounted() {},
  methods: {
    handleMenu(res) {
      if (res.key === 'odjava') this.logOut()
      else this.$router.push('/admin/' + res.key)
    },
    logOut() {
      this.$store.dispatch('user/reset').then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>
