<template>
  <div>
    <h1>Konačna lista</h1>
    <Select
      v-if="user.typeid == 100"
      :options="professorOptions"
      style="max-width:300px; margin-bottom:15px;"
      show-search
      placeholder="Odaberi profesora"
      :size="'large'"
      :filter-option="filterOption"
      :loading="loading"
      @select="select"
    >
    </Select>
    <p v-if="studentCount > 0">Ukupan broj studenata: {{ studentCount }}</p>
    <p v-if="(free > 0) & (studentCount > 0)">Slobodno mjesta: {{ free }}</p>
    <p v-if="free == 0">Mjesta su popunjena.</p>
    <List
      style="max-width:600px;"
      :loading="loading"
      item-layout="horizontal"
      :data-source="studentList"
      size="large"
    >
      <div
        v-if="showLoadingMore"
        slot="loadMore"
        :style="{
          textAlign: 'center',
          marginTop: '12px',
          height: '32px',
          lineHeight: '32px'
        }"
      >
        <Spin v-if="loadingMore" />
        <Button v-if="hasMore" @click="onLoadMore">učitaj više</Button>
      </div>
      <ListItem slot="renderItem" slot-scope="item">
        <Popconfirm
          v-if="!item.isrejected"
          slot="actions"
          ok-type="danger"
          title="Želite li odbiti studenta?"
          ok-text="Odbij"
          cancel-text="Odustani"
          @confirm="reject(item.studentid)"
        >
          <a href="#">Odbij</a>
        </Popconfirm>
        <Meta :description="item.descr">
          <span slot="title"
            >{{ item.firstname }} {{ item.lastname }}
            <Icon
              v-if="item.qualified"
              type="check-circle"
              theme="twoTone"
              two-tone-color="#52c41a"
          /></span>
        </Meta>
        <div>
          <Tag v-if="item.isrejected" color="red">Odbijen</Tag>
          <Tag v-if="!item.ownchoice" color="lime">Auto dodjela</Tag>
          <Tag v-if="item.average">{{ item.average }}</Tag>
        </div>
      </ListItem>
    </List>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import {
  List,
  Spin,
  Button,
  Tag,
  Icon,
  Select,
  Popconfirm,
  message
} from 'ant-design-vue'

// eslint-disable-next-line no-use-before-define
import { Meta } from 'ant-design-vue/lib/list/Item'

// eslint-disable-next-line no-use-before-define
import ListItem from 'ant-design-vue/lib/list/Item'

export default {
  name: 'Final',
  components: {
    List,
    ListItem,
    Spin,
    Button,
    Meta,
    Tag,
    Icon,
    Select,
    Popconfirm
  },

  data() {
    return {
      alert: null,
      loading: true,
      loadingMore: false,
      showLoadingMore: true,
      pagination: {
        current: 1,
        total: 0,
        pageSize: 20,
        showSizeChanger: true
      },
      size: 20,
      professorId: 0
    }
  },
  computed: {
    ...mapGetters({
      students: 'student/students',
      studentCount: 'student/studentCount',
      professors: 'professor/professors',
      user: 'user/user',
      config: 'config/config'
    }),
    professorOptions() {
      return this.professors.map((p) => {
        p.value = p.id
        p.label = p.firstname + ' ' + p.lastname
        return p
      })
    },
    studentList() {
      return this.students.map((s) => {
        s.descr = s.email + ' | ' + s.jmbag
        s.average = Math.round(s.averagegrade * 100) / 100
        return s
      })
    },
    paginationCount() {
      return this.pagination
    },
    hasMore() {
      return this.students.length !== this.studentCount
    },
    free() {
      return this.config.maxstudents - this.studentCount
    },
    accountProfessorId() {
      return this.user.professorid
    }
  },
  beforeMount() {
    this.resetStudents()
    this.load()
  },
  mounted() {},
  methods: {
    ...mapActions({
      fetchFinal: 'student/fetchFinal',
      getFinalCount: 'student/finalCount',
      fetchProfessors: 'professor/fetchList',
      acceptStudent: 'student/accept',
      rejectStudent: 'student/reject',
      resetStudents: 'student/reset',
      fetchConfig: 'config/fetch',
      fetchUser: 'user/fetch'
    }),
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text
          .toLowerCase()
          .indexOf(input.toLowerCase()) >= 0
      )
    },
    handleTableChange(pagination, filters, sorter) {
      this.loading = true
      this.pagination = pagination
      this.pagination.total = this.studentCount || 0
      this.fetchFinal({
        professorId: this.professorId,
        pagination: this.pagination
      }).then((res) => {
        this.loading = false
      })
    },
    onLoadMore() {
      this.loadingMore = true
      this.pagination.pageSize = this.pagination.pageSize + this.size
      this.fetchFinal({
        professorId: this.professorId,
        pagination: this.pagination
      }).then((res) => {
        this.loading = false
        this.loadingMore = false
        this.$nextTick(() => {
          window.dispatchEvent(new Event('resize'))
        })
      })
    },
    load() {
      this.fetchUser().then((res) => {
        if (this.user.typeid === 100) {
          this.fetchProfessors().then((res) => {
            this.fetchConfig()
            this.loading = false
          })
        } else if (this.user.typeid === 200) {
          this.fetchConfig()
          this.select(this.user.professorid)
        }
      })
    },
    select(id) {
      this.professorId = id
      this.loading = true
      this.getFinalCount(this.professorId).then((res) => {})
      this.fetchFinal({
        professorId: this.professorId,
        pagination: this.pagination
      }).then((res) => {
        this.loading = false
      })
    },
    reject(id) {
      this.loading = true
      this.rejectStudent({
        studentId: id,
        professorId: this.professorId,
        accountId: this.user.id
      }).then((res) => {
        if (res.status === 200) {
          message.success('Student odbijen')
          this.fetchFinal({
            professorId: this.professorId,
            pagination: this.pagination
          }).then((res) => {
            this.getFinalCount(this.professorId).then((res) => {
              this.loading = false
            })
          })
        } else message.error('Došlo je do pogreške')
      })
    }
  }
}
</script>
<style>
.hidden {
  visibility: hidden;
}
</style>
