<template>
  <div>
    <h1>Preference mentora</h1>
    <Form @submit.prevent="submit">
      <span class="ant-typography ant-typography-secondary"
        >Upišite ili odaberite mentora sa liste. Poredak je moguće promijeniti
        povlačenjem mentora prema gore ili dolje.</span
      >
      <FormItem label="Pretraži mentore">
        <Select
          :options="professorOptions"
          style="width: 100%; max-width: 300px"
          show-search
          placeholder="Odaberi mentora"
          :size="'large'"
          :filter-option="filterOption"
          :loading="loading"
          :value="selectedProfessor"
          @select="select"
        >
        </Select>
      </FormItem>
      <List v-if="selected.length > 0" size="large" bordered :loading="loading">
        <div class="ant-spin-container">
          <Draggable v-model="selected" draggable=".ant-list-item">
            <div
              v-for="(item, id) in selected"
              :key="item.id"
              class="ant-list-item drag-item"
            >
              <div class="ant-list-item-content ant-list-item-content-single">
                {{ id + 1 }}. {{ item.firstname }} {{ item.lastname }}
              </div>
              <ul class="ant-list-item-action">
                <li>
                  <a
                    ><Button
                      slot="actions"
                      type="danger"
                      size="small"
                      @click="removeAt(id)"
                      >Ukloni</Button
                    ></a
                  >
                </li>
              </ul>
            </div>
          </Draggable>
        </div>
        <div slot="header">Poredak preferenci mentora:</div>
      </List>
      <div v-if="selected.length == 0">
        <p class="ant-empty-description">Nema odabranih mentora.</p>
      </div>
      <Button
        :loading="loading"
        :disabled="loading"
        type="primary"
        html-type="submit"
        size="large"
        class="save-button"
        >Spremi preference</Button
      >
    </Form>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { Form, Select, Button, List, message } from 'ant-design-vue'
import FormItem from 'ant-design-vue/lib/form/FormItem'
import Draggable from 'vuedraggable'
export default {
  name: 'Preferences',
  components: {
    Select,
    Form,
    FormItem,
    Button,
    Draggable,
    List
  },
  props: {
    studentId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      alert: null,
      loading: true,
      selected: [],
      selectedProfessor: '',
      drag: false
    }
  },
  computed: {
    ...mapGetters({
      professors: 'professor/professors',
      preferences: 'preference/preferences'
    }),
    professorOptions() {
      if (this.professors.map != null) {
        return this.professors.map((p) => {
          p.value = p.id
          p.label = p.firstname + ' ' + p.lastname
          p.disabled = !!this.selected.includes(p)
          return p
        })
      } else return []
    },
    dragOptions() {
      return {
        animation: 200,
        group: 'description',
        disabled: false,
        ghostClass: 'ghost'
      }
    }
  },
  watch: {
    preferences: function(val) {
      this.selected = []
      for (let i = 0; i < val.length; i++) {
        this.selected.push(
          this.professors.find((x) => x.id === val[i].professorid)
        )
      }
    }
  },
  beforeMount() {
    this.load()
    this.resetProfessors()
  },
  mounted() {
    message.config({
      top: '100px'
    })
  },
  methods: {
    ...mapActions({
      fetchPreferences: 'preference/fetchAll',
      updatePreferences: 'preference/update',
      fetchProfessors: 'professor/fetchList',
      resetProfessors: 'professor/reset'
    }),
    removeAt(id) {
      this.selected.splice(id, 1)
    },
    submit(x) {
      this.loading = true
      this.updatePreferences({
        preferences: this.selected,
        studentId: this.studentId
      }).then((res) => {
        this.loading = false
        if (res.status === 200)
          message.success('Preference uspješno spremljene')
        else message.error('Došlo je do pogreške')
      })
    },
    select(id, obj) {
      const item = this.professorOptions.find((x) => x.id === id)
      this.selected.push(item)
    },
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text
          .toLowerCase()
          .indexOf(input.toLowerCase()) >= 0
      )
    },
    load() {
      this.fetchProfessors().then((res) => {
        this.fetchPreferences(this.studentId).then((res) => {
          this.loading = false
        })
      })
    }
  }
}
</script>
<style>
.drag-item {
  cursor: grab;
}
.ant-list {
  max-width: 500px;
}
.save-button {
  margin-top: 24px;
}
</style>
