<template>
  <div>
    <h1>Preliminarna lista</h1>
    <Select
      :options="professorOptions"
      style="max-width:300px; margin-bottom:15px;"
      show-search
      placeholder="Odaberi profesora"
      :size="'large'"
      :filter-option="filterOption"
      :loading="loading"
      @select="select"
    >
    </Select>
    <List
      style="max-width:600px;"
      :loading="loading"
      item-layout="horizontal"
      :data-source="studentList"
      size="large"
      class="preliminary"
    >
      <div
        v-if="showLoadingMore"
        slot="loadMore"
        :style="{
          textAlign: 'center',
          marginTop: '12px',
          height: '32px',
          lineHeight: '32px'
        }"
      >
        <Spin v-if="loadingMore" />
        <Button v-if="hasMore" @click="onLoadMore">učitaj više</Button>
      </div>
      <ListItem
        slot="renderItem"
        slot-scope="item"
        :class="{ disqualified: !item.qualified }"
      >
        <Popconfirm
          v-if="!item.isrejected"
          slot="actions"
          :class="{ hidden: !item.qualified }"
          ok-type="danger"
          title="Želite li odbiti studenta?"
          ok-text="Odbij"
          cancel-text="Odustani"
          @confirm="reject(item.studentid)"
        >
          <a href="#">Odbij</a>
        </Popconfirm>
        <Popconfirm
          v-if="item.isrejected"
          slot="actions"
          title="Želite li prihvatiti studenta?"
          ok-text="Prihvati"
          cancel-text="Odustani"
          @confirm="accept(item.studentid)"
        >
          <a href="#">Prihvati</a>
        </Popconfirm>
        <Meta :description="item.descr">
          <span slot="title"
            >{{ item.rankid }}. {{ item.firstname }} {{ item.lastname }}
            <Icon
              v-if="item.qualified"
              type="check-circle"
              theme="twoTone"
              two-tone-color="#52c41a"
          /></span>
        </Meta>
        <div>
          <Tag v-if="item.isrejected" color="red">Odbijen</Tag>
          <Tag
            v-if="item.priorityid"
            :color="item.priorityid == 1 ? 'gold' : ''"
            >{{ item.priorityid }}. odabir</Tag
          >
          <Tag v-if="!item.ownchoice" color="lime">Auto dodjela</Tag>
          <Tag v-if="item.average">{{ item.average }}</Tag>
        </div>
      </ListItem>
    </List>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import {
  List,
  Spin,
  Button,
  Tag,
  Icon,
  Select,
  Popconfirm,
  message
} from 'ant-design-vue'

// eslint-disable-next-line no-use-before-define
import { Meta } from 'ant-design-vue/lib/list/Item'

// eslint-disable-next-line no-use-before-define
import ListItem from 'ant-design-vue/lib/list/Item'

export default {
  name: 'Preliminary',
  components: {
    List,
    ListItem,
    Spin,
    Button,
    Meta,
    Tag,
    Icon,
    Select,
    Popconfirm
  },

  data() {
    return {
      alert: null,
      loading: true,
      loadingMore: false,
      showLoadingMore: true,
      pagination: {
        current: 1,
        total: 0,
        pageSize: 20,
        showSizeChanger: true
      },
      size: 20,
      professorId: 0
    }
  },
  computed: {
    ...mapGetters({
      students: 'student/students',
      studentCount: 'student/studentCount',
      professors: 'professor/professors',
      user: 'user/user'
    }),
    professorOptions() {
      return this.professors.map((p) => {
        p.value = p.id
        p.label = p.firstname + ' ' + p.lastname
        return p
      })
    },
    studentList() {
      return this.students.map((s) => {
        s.descr = s.email + ' | ' + s.jmbag
        s.average = Math.round(s.averagegrade * 100) / 100
        return s
      })
    },
    paginationCount() {
      return this.pagination
    },
    hasMore() {
      return this.students.length !== this.studentCount
    }
  },
  beforeMount() {
    this.resetStudents()
    this.load()
  },
  mounted() {
    message.config({
      top: '100px'
    })
  },
  methods: {
    ...mapActions({
      fetchPreliminary: 'student/fetchPreliminary',
      getPreliminaryCount: 'student/preliminaryCount',
      fetchProfessors: 'professor/fetchList',
      acceptStudent: 'student/accept',
      rejectStudent: 'student/reject',
      resetStudents: 'student/reset'
    }),
    filterOption(input, option) {
      return (
        option.componentOptions.children[0].text
          .toLowerCase()
          .indexOf(input.toLowerCase()) >= 0
      )
    },
    handleTableChange(pagination, filters, sorter) {
      this.loading = true
      this.pagination = pagination
      this.pagination.total = this.studentCount || 0
      this.fetchPreliminary({
        professorId: this.professorId,
        pagination: this.pagination
      }).then((res) => {
        this.loading = false
      })
    },
    onLoadMore() {
      this.loadingMore = true
      this.pagination.pageSize = this.pagination.pageSize + this.size
      this.fetchPreliminary({
        professorId: this.professorId,
        pagination: this.pagination
      }).then((res) => {
        this.loading = false
        this.loadingMore = false
        this.$nextTick(() => {
          window.dispatchEvent(new Event('resize'))
        })
      })
    },
    load() {
      this.fetchProfessors().then((res) => {
        this.loading = false
      })
    },
    select(id) {
      this.professorId = id
      this.loading = true
      this.getPreliminaryCount(this.professorId).then((res) => {})
      this.fetchPreliminary({
        professorId: this.professorId,
        pagination: this.pagination
      }).then((res) => {
        this.loading = false
      })
    },
    reject(id) {
      this.loading = true
      this.rejectStudent({ studentId: id, professorId: this.professorId }).then(
        (res) => {
          if (res.status === 200) {
            message.success('Student odbijen')
            this.fetchPreliminary({
              professorId: this.professorId,
              pagination: this.pagination
            }).then((res) => {
              this.loading = false
            })
          } else message.error('Došlo je do pogreške')
        }
      )
    },
    accept(id) {
      this.loading = true
      this.acceptStudent({ studentId: id, professorId: this.professorId }).then(
        (res) => {
          if (res.status === 200) {
            message.success('Student prihvaćen')
            this.fetchPreliminary({
              professorId: this.professorId,
              pagination: this.pagination
            }).then((res) => {
              this.loading = false
            })
          } else message.error('Došlo je do pogreške')
        }
      )
    }
  }
}
</script>
<style>
.preliminary .qualified {
  background: #fffbe6;
}
.preliminary .disqualified {
  background: #f5f5f5;
}
.preliminary .ant-list-item {
  padding: 12px;
}
.hidden {
  visibility: hidden;
}

.hidden:hover {
  cursor: default !important;
}
</style>
