<template>
  <div>
    <h1>Profesori</h1>
    <Table
      :columns="columns"
      :row-key="(record) => record.id"
      :data-source="professors"
      :pagination="paginationCount"
      :loading="loading"
      style="overflow-x:auto;"
      @change="handleTableChange"
    >
    </Table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { Table } from 'ant-design-vue'
const columns = [
  {
    title: 'Titula',
    dataIndex: 'prefix'
  },
  {
    title: 'Prezime',
    dataIndex: 'lastname'
  },
  {
    title: 'Ime',
    dataIndex: 'firstname'
  },
  {
    title: 'Email',
    dataIndex: 'email'
  },
  {
    title: 'Broj studenata',
    dataIndex: 'studentcount',
    align: 'right'
  },
  {
    title: 'Broj preferenci',
    dataIndex: 'preferencecount',
    align: 'right'
  },
  {
    title: 'Broj odbijenih',
    dataIndex: 'rejectionscount',
    align: 'right'
  }
]
export default {
  name: 'Professors',
  components: {
    Table
  },
  data() {
    return {
      alert: null,
      loading: true,
      columns,
      pagination: {
        current: 1,
        total: this.professorCount || 0,
        pageSize: 10,
        showSizeChanger: true
      }
    }
  },
  computed: {
    ...mapGetters({
      professors: 'professor/professors',
      professorCount: 'professor/professorCount'
    }),
    paginationCount() {
      return this.pagination
    }
  },
  beforeMount() {
    this.load()
  },
  mounted() {},
  methods: {
    ...mapActions({
      fetchProfessors: 'professor/fetchAll',
      getProfessorCount: 'professor/count'
    }),
    handleTableChange(pagination, filters, sorter) {
      this.loading = true
      this.pagination = pagination
      this.pagination.total = this.professorCount
      this.fetchProfessors(pagination).then((res) => {
        this.loading = false
      })
    },
    load() {
      this.getProfessorCount().then((res) => {})
      this.fetchProfessors(this.pagination).then((res) => {
        this.loading = false
      })
    }
  }
}
</script>
