<template>
  <div>
    <h1>Postavke</h1>
    <Divider orientation="left">Varijable</Divider>
    <Form layout="horizontal" @submit.prevent="submitConfig">
      <FormItem
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 12 }"
        label="Studenata po mentoru"
      >
        <InputNumber
          size="large"
          :min="1"
          :max="200"
          :value="maxStudents"
          @change="maxChange"
        />
      </FormItem>
      <FormItem :wrapper-col="{ span: 12, offset: 8 }">
        <Button
          :loading="loading"
          :disabled="loading"
          type="primary"
          html-type="submit"
          size="large"
          >Spremi</Button
        >
      </FormItem>
    </Form>
    <Divider orientation="left">Generiranje podataka</Divider>
    <FormItem :wrapper-col="{ span: 12, offset: 1 }"
      >Napomena: jedan student i jedan profesor koji su povezani na korisničke
      račune se ne brišu.</FormItem
    >
    <Form layout="horizontal" @submit.prevent="submitGenerate">
      <FormItem
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 12 }"
        label="Broj novih studenata"
      >
        <InputNumber
          size="large"
          :min="1"
          :max="500"
          :value="studentCount"
          @change="studentChange"
        />
      </FormItem>
      <FormItem
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 12 }"
        label="Broj novih profesora"
      >
        <InputNumber
          size="large"
          :min="1"
          :max="500"
          :value="professorCount"
          @change="professorChange"
        />
      </FormItem>
      <FormItem
        :label-col="{ span: 8 }"
        :wrapper-col="{ span: 12 }"
        label="Preference"
      >
        <ASwitch size="large" default-checked @change="preferencesChange" />
      </FormItem>
      <FormItem :wrapper-col="{ span: 12, offset: 8 }">
        <Button
          :loading="loading"
          :disabled="loading"
          type="primary"
          html-type="submit"
          size="large"
          >Spremi</Button
        >
      </FormItem>
    </Form>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { Form, Button, InputNumber, Divider, message } from 'ant-design-vue'
import ASwitch from 'ant-design-vue/lib/switch/index'
import FormItem from 'ant-design-vue/lib/form/FormItem'

export default {
  name: 'Settings',
  components: {
    Form,
    FormItem,
    Button,
    InputNumber,
    Divider,
    ASwitch
  },
  data() {
    return {
      loading: true,
      maxStudents: 0,
      studentCount: 10,
      professorCount: 5,
      isPreferences: true
    }
  },
  computed: {
    ...mapGetters({
      config: 'config/config',
      user: 'user/user'
    })
  },
  watch: {
    config: function(val) {
      this.maxStudents = val.maxstudents
    }
  },
  beforeMount() {
    this.load()
  },
  mounted() {
    message.config({
      top: '100px'
    })
  },
  methods: {
    ...mapActions({
      fetchConfig: 'config/fetch',
      saveConfig: 'config/save',
      regenerate: 'config/regenerate'
    }),
    submitConfig(x) {
      this.loading = true
      this.saveConfig({ maxStudents: this.maxStudents }).then((res) => {
        this.loading = false
        if (res.status === 200) message.success('Postavke uspješno spremljene')
        else message.error('Došlo je do pogreške')
      })
    },
    submitGenerate(x) {
      this.loading = true
      this.regenerate({
        studentCount: this.studentCount,
        professorCount: this.professorCount,
        preferences: this.isPreferences
      }).then((res) => {
        this.loading = false
        if (res.status === 200) message.success('Generiranje uspješno završeno')
        else message.error('Došlo je do pogreške')
      })
    },
    maxChange(value) {
      this.maxStudents = value
    },
    professorChange(value) {
      this.professorCount = value
    },
    studentChange(value) {
      this.studentCount = value
    },
    preferencesChange(value) {
      this.isPreferences = value
    },
    load() {
      this.fetchConfig().then((res) => {
        this.loading = false
        this.maxStudents = this.config.maxstudents
      })
    }
  }
}
</script>
<style></style>
