<template>
  <div>
    <h1>Status</h1>
    <div v-if="status.professorid > 0">
      <h3 v-if="status.priorityid == 1">Čestitamo, dodijeljeni mentor:</h3>
      <h3 v-else>Dodijeljeni mentor:</h3>
      <h2>
        <strong
          >{{ status.prefix }} {{ status.firstname }} {{ status.lastname }}
          {{ status.suffix }}</strong
        >
      </h2>
      <h3>{{ status.email }}</h3>
      <h4 v-if="status.priorityid != 1">
        Ukoliko niste zadovoljni izborom probajte
        <nuxt-link to="preference">promijeniti preference</nuxt-link>.
      </h4>
    </div>
    <div v-else>
      <h2>Nažalost, trenutno nije dodijeljen nijedan mentor.</h2>
      <h4>
        Molimo probajte
        <nuxt-link to="preference">promijeniti preference</nuxt-link>.
      </h4>
    </div>
  </div>
</template>
<script>
import { mapGetters, mapActions } from 'vuex'
import { message } from 'ant-design-vue'
export default {
  name: 'Status',
  props: {
    studentId: {
      type: Number,
      required: true
    }
  },
  data() {
    return {
      alert: null,
      loading: true,
      selected: [],

      selectedProfessor: '',
      drag: false
    }
  },
  computed: {
    ...mapGetters({
      status: 'professor/status'
    }),
    dragOptions() {
      return {
        animation: 200,
        group: 'description',
        disabled: false,
        ghostClass: 'ghost'
      }
    }
  },
  watch: {
    preferences: function(val) {
      this.selected = []
      for (let i = 0; i < val.length; i++) {
        this.selected.push(
          this.professors.find((x) => x.id === val[i].professorid)
        )
      }
    }
  },
  beforeMount() {
    this.load()
  },
  mounted() {
    message.config({
      top: '100px'
    })
  },
  methods: {
    ...mapActions({
      fetchStatus: 'professor/status'
    }),
    load() {
      this.fetchStatus().then((res) => {
        this.loading = false
      })
    }
  }
}
</script>
