<template>
  <div>
    <h1>Studenti</h1>
    <Table
      :columns="columns"
      :row-key="(record) => record.id"
      :data-source="studentList"
      :pagination="paginationCount"
      :loading="loading"
      style="overflow-x:auto;"
      @change="handleTableChange"
    >
      <template slot="professor" slot-scope="professor">
        {{ professor.prefix }} {{ professor.firstname }}
        {{ professor.lastname }} {{ professor.suffix }}
      </template>
      <template slot="rejected" slot-scope="text, item">
        <span>
          <span v-if="item.professorid == user.professorid"
            ><Icon
              type="check-circle"
              theme="twoTone"
              two-tone-color="#52c41a"
            />
            Mentoriranje</span
          >
          <Tag v-if="item.isrejected" color="red">Odbijen</Tag>
        </span>
      </template>
      <template slot="operation" slot-scope="text, item">
        <Popconfirm
          v-if="
            !item.isrejected &
              (item.professorid == user.professorid) &
              (user.typeid == 200)
          "
          slot="actions"
          ok-type="danger"
          title="Želite li odbiti studenta?"
          ok-text="Odbij"
          cancel-text="Odustani"
          @confirm="reject(item.id)"
        >
          <a href="#">Odbij</a>
        </Popconfirm>
        <Popconfirm
          v-if="item.isrejected & (user.typeid == 200)"
          slot="actions"
          title="Želite li prihvatiti studenta?"
          ok-text="Prihvati"
          cancel-text="Odustani"
          @confirm="accept(item.id)"
        >
          <a href="#">Prihvati</a>
        </Popconfirm>
        <nuxt-link
          v-if="user.typeid == 100"
          :to="{ name: 'preference', params: { studentId: item.id } }"
          replace
          >Uredi preference</nuxt-link
        >
      </template>
    </Table>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { Table, Tag, Popconfirm, Icon, message } from 'ant-design-vue'
import moment from 'moment'
export default {
  name: 'Students',
  components: {
    Table,
    Tag,
    Popconfirm,
    Icon
  },
  data() {
    return {
      alert: null,
      loading: true,
      columns: [
        {
          title: 'JMBAG',
          dataIndex: 'jmbag'
        },
        {
          title: 'Prezime',
          dataIndex: 'lastname'
        },
        {
          title: 'Ime',
          dataIndex: 'firstname'
        },
        {
          title: 'Email',
          dataIndex: 'email'
        }
      ],
      pagination: {
        current: 1,
        total: this.studentCount || 0,
        pageSize: 10,
        showSizeChanger: true
      }
    }
  },
  computed: {
    ...mapGetters({
      students: 'student/students',
      studentCount: 'student/studentCount',
      user: 'user/user'
    }),
    studentList() {
      return this.students.map((s) => {
        s.activitydateshort =
          s.activitydate == null
            ? ''
            : moment(s.activitydate)
                .locale('hr')
                .fromNow()
        s.details = s.isrejected === true ? 'Odbijen' : ''
        return s
      })
    },
    paginationCount() {
      return this.pagination
    }
  },
  beforeMount() {
    this.resetStudents()
    this.load()
  },
  mounted() {
    message.config({
      top: '100px'
    })
  },
  methods: {
    ...mapActions({
      fetchStudents: 'student/fetchAll',
      getStudentCount: 'student/count',
      resetStudents: 'student/reset',
      fetchUser: 'user/fetch',
      acceptStudent: 'student/accept',
      rejectStudent: 'student/reject'
    }),
    handleTableChange(pagination, filters, sorter) {
      this.loading = true
      this.pagination = pagination
      this.pagination.total = this.studentCount
      this.fetchStudents({
        pagination: this.pagination,
        professorId: this.user.professorid
      }).then((res) => {
        this.loading = false
      })
    },
    reject(id) {
      this.loading = true
      this.rejectStudent({
        studentId: id,
        professorId: this.user.professorid
      }).then((res) => {
        if (res.status === 200) {
          message.success('Student odbijen')
          this.fetchStudents({
            pagination: this.pagination,
            professorId: this.user.professorid
          }).then((res) => {
            this.loading = false
          })
        } else message.error('Došlo je do pogreške')
      })
    },
    accept(id) {
      this.loading = true
      this.acceptStudent({
        studentId: id,
        professorId: this.user.professorid
      }).then((res) => {
        if (res.status === 200) {
          message.success('Student prihvaćen')
          this.fetchStudents({
            pagination: this.pagination,
            professorId: this.user.professorid
          }).then((res) => {
            this.loading = false
          })
        } else message.error('Došlo je do pogreške')
      })
    },
    load() {
      this.getStudentCount().then((res) => {})
      this.fetchStudents({
        pagination: this.pagination,
        professorId: this.user.professorid
      }).then((res) => {
        this.loading = false
      })
      this.fetchUser().then((res) => {
        if (this.user.typeid === 100) {
          this.columns.push({
            title: 'Mentor',
            dataIndex: 'professor',
            scopedSlots: { customRender: 'professor' }
          })
          this.columns.push({
            title: 'Zadnja izmjena',
            dataIndex: 'activitydateshort'
          })
          this.columns.push({
            title: 'Vrsta izmjene',
            dataIndex: 'activitydescr'
          })
        } else if (this.user.typeid === 200) {
          this.columns.push({
            title: 'Detalji',
            dataIndex: 'isrejected',
            scopedSlots: { customRender: 'rejected' }
          })
        }
        this.columns.push({
          title: 'Akcije',
          dataIndex: 'operation',
          scopedSlots: { customRender: 'operation' }
        })
      })
    }
  }
}
</script>
