<template>
  <div v-if="user != null">
    <LocaleProvider :locale="locale">
      <nuxt />
    </LocaleProvider>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import { LocaleProvider } from 'ant-design-vue'
import hr from 'ant-design-vue/lib/locale-provider/hr_HR'
export default {
  components: {
    LocaleProvider
  },
  data() {
    return {
      locale: hr,
      typeId: 0
    }
  },
  computed: {
    ...mapGetters({
      user: 'user/user'
    })
  },
  beforeMount() {
    this.detectOrigin()
    this.checkMe()
  },
  methods: {
    ...mapActions({}),
    detectOrigin() {
      const path = this.$route.path.split('/')[1]
      if (path === 'admin') this.typeId = 100
      else if (path === 'profesor') this.typeId = 200
      else if (path === 'student') this.typeId = 300
    },
    checkMe() {
      this.$store.dispatch('user/fetch').then((result) => {
        if (this.user == null) this.logOut()
        else if (this.user.typeid !== this.typeId) {
          this.$router.push('/')
        } else {
          this.load()
        }
      })
    },
    load() {
      this.loading = false
    },
    logOut() {
      this.$store.dispatch('user/reset').then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>
