<template>
  <div>
    <LocaleProvider :locale="locale">
      <nuxt />
    </LocaleProvider>
  </div>
</template>

<script>
import { LocaleProvider } from 'ant-design-vue'
import hr from 'ant-design-vue/lib/locale-provider/hr_HR'
export default {
  components: {
    LocaleProvider
  },
  data() {
    return {
      locale: hr
    }
  }
}
</script>
