<template>
  <div></div>
</template>
<script>
import { mapGetters } from 'vuex'
export default {
  computed: {
    ...mapGetters({
      user: 'user/user'
    }),
    binding() {
      const binding = {}
      binding.column = true
      return binding
    }
  },
  beforeMount() {
    this.checkMe()
  },
  methods: {
    checkMe() {
      this.$store.dispatch('user/fetch').then((response) => {
        if (this.user === null) this.logOut()
        else if (this.user.typeid === 100) this.$router.push('admin')
        else if (response.data.user.typeid === 200)
          this.$router.push('profesor')
        else if (response.data.user.typeid === 300) this.$router.push('student')
      })
    },
    logOut() {
      this.$store.dispatch('user/reset').then(() => {
        this.$router.push('/login')
      })
    }
  }
}
</script>
