<template>
  <div>
    <Alert v-if="alert" :type="alert.type" :message="alert.message" banner />
    <Card class="login-card">
      <Form class="login-form" @submit.prevent="submit">
        <div v-if="alert" :type="alert.type" value="true">
          {{ alert.message }}
        </div>
        <Input
          v-model="user.username"
          v-decorator="[
            'Username',
            {
              rules: [
                { required: true, message: 'Molimo upišite korisničko ime!' }
              ]
            }
          ]"
          placeholder="Korisničko ime"
        >
          <Icon slot="prefix" type="user" style="color: rgba(0,0,0,.25)" />
        </Input>
        <Input
          v-model="user.password"
          v-decorator="[
            'Password',
            { rules: [{ required: true, message: 'Molimo upišite lozinku!' }] }
          ]"
          type="password"
          placeholder="Lozinka"
        >
          <Icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
        </Input>
        <Button
          :loading="loading"
          :disabled="loading"
          type="primary"
          html-type="submit"
          class="login-form-button"
          >Ulogiraj me</Button
        >
      </Form>
    </Card>
    <div class="reglink">
      Nemate račun? <nuxt-link to="/registracija">Registrirajte se</nuxt-link>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { Alert, Button, Card, Form, Icon, Input } from 'ant-design-vue'
export default {
  components: {
    Alert,
    Button,
    Card,
    Icon,
    Input,
    Form
  },
  layout: 'fullscreen',
  head() {
    return {
      title: 'Log In'
    }
  },
  data() {
    return {
      user: {
        username: '',
        password: ''
      },
      alert: null,
      loading: false
    }
  },
  methods: {
    submit() {
      this.loading = true
      this.$store
        .dispatch('user/login', {
          username: this.user.username,
          password: this.user.password
        })
        .then((response) => {
          if (response.data.user.typeId === 100) this.$router.push('admin')
          else if (response.data.user.typeId === 200)
            this.$router.push('profesor')
          else if (response.data.user.typeId === 300)
            this.$router.push('student')
        })
        .catch((error) => {
          this.loading = false
          if (error.response && error.response.data) {
            this.alert = {
              type: 'error',
              message: error.response.data.message || error.response.status
            }
          }
        })
    },
    ...mapActions({
      fetch: 'user/fetch',
      login: 'user/login',
      reset: 'user/reset'
    })
  }
}
</script>
<style>
.login-card {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
.login-form {
  max-width: 300px;
  margin: 0 auto;
}
.login-form input,
.login-form button {
  margin-top: 15px;
}
.login-form button {
  float: right;
}
.login-form .ant-input-affix-wrapper .ant-input-prefix {
  left: 12px;
  margin-top: 7px;
}
.reglink {
  max-width: 400px;

  margin: 0 auto;
  margin-top: 15px;
}
</style>
