<template>
  <div>
    <Alert v-if="alert" :type="alert.type" :message="alert.message" banner />
    <Steps :current="currentStep" size="small">
      <Step title="E-mail">
        <Icon slot="icon" type="mail" />
      </Step>
      <Step title="Kod">
        <Icon slot="icon" type="number" />
      </Step>
      <Step title="Lozinka">
        <Icon slot="icon" type="lock" />
      </Step>
    </Steps>
    <Card class="register-card">
      <Form
        v-if="showEmail"
        class="register-form mg"
        @submit.prevent="checkEmail"
      >
        <h3>Upišite vašu e-mail adresu</h3>
        <div v-if="alert" :type="alert.type" value="true">
          {{ alert.message }}
        </div>
        <Input
          v-model="email"
          v-decorator="[
            'Username',
            {
              rules: [
                { required: true, message: 'Molimo upišite e-mail adresu!' }
              ]
            }
          ]"
          placeholder="E-mail (@tvz.hr)"
        >
          <Icon slot="prefix" type="mail" style="color: rgba(0,0,0,.25)" />
        </Input>
        <Button
          :loading="loading"
          :disabled="loading"
          type="primary"
          html-type="submit"
          class="register-form-button"
          >Registriraj me</Button
        >
      </Form>
      <Form v-if="showCode" class="register-form" @submit.prevent="verifyCode">
        <h3>Kod je poslan na adresu {{ email }}</h3>
        <h3>Upišite kod za nastavak:</h3>
        <div v-if="alert" :type="alert.type" value="true">
          {{ alert.message }}
        </div>
        <Input v-model="code" :wrapper-col="{ span: 3 }" size="large" />
        <Button
          :loading="loading"
          :disabled="loading"
          type="primary"
          html-type="submit"
          class="register-form-button"
          >Nastavi</Button
        >
      </Form>
      <Form
        v-if="showPassword"
        class="register-form mg"
        @submit.prevent="createAccount"
      >
        <h3>Upišite željenu lozinku</h3>
        <Input
          v-if="showPassword"
          v-model="password"
          v-decorator="[
            'Password',
            { rules: [{ required: true, message: 'Molimo upišite lozinku' }] }
          ]"
          type="password"
          placeholder="Nova lozinka"
          :loading="loading"
        >
          <Icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
        </Input>
        <Input
          v-if="showPassword"
          v-model="passwordRepeat"
          v-decorator="[
            'Password',
            { rules: [{ required: true, message: 'Ponovite lozinku' }] }
          ]"
          type="password"
          placeholder="Ponovite lozinku"
          :loading="loading"
        >
          <Icon slot="prefix" type="lock" style="color: rgba(0,0,0,.25)" />
        </Input>
        <Button
          :loading="loading"
          :disabled="loading"
          type="primary"
          html-type="submit"
          class="register-form-button"
          >Registriraj me</Button
        >
      </Form>
    </Card>
  </div>
</template>

<script>
import { mapActions } from 'vuex'
import { Alert, Button, Card, Form, Icon, Input, Steps } from 'ant-design-vue'
const Step = Steps.Step
export default {
  components: {
    Alert,
    Button,
    Card,
    Icon,
    Input,
    Form,
    Steps,
    Step
  },
  layout: 'fullscreen',
  head() {
    return {
      title: 'Registracija'
    }
  },
  data() {
    return {
      email: '',
      alert: null,
      loading: false,
      showEmail: true,
      showCode: false,
      showPassword: false,
      password: '',
      passwordRepeat: '',
      code: '',
      currentStep: 0
    }
  },
  methods: {
    checkEmail() {
      this.loading = true
      this.checkRegistration(this.email)
        .then((result) => {
          this.loading = false
          if (result.status === 200) {
            this.currentStep = 1
            this.alert = null
            this.showEmail = false
            this.showCode = true
          }
        })
        .catch((error) => {
          this.loading = false

          if (error.response && error.response.data) {
            this.alert = {
              type: 'error',
              message: error.response.data.message || error.response.status
            }
          }
        })
    },
    verifyCode() {
      this.loading = true

      this.verify({ Email: this.email, Code: this.code })
        .then((result) => {
          this.loading = false
          if (result.status === 200) {
            this.currentStep = 2
            this.alert = null
            this.showCode = false
            this.showPassword = true
          }
        })
        .catch((error) => {
          this.loading = false
          if (error.response && error.response.data) {
            this.alert = {
              type: 'error',
              message: error.response.data.message || error.response.status
            }
          }
        })
    },
    createAccount() {
      this.loading = true

      if (this.password !== this.passwordRepeat) {
        this.loading = false
        this.alert = { type: 'error', message: 'Loznike se ne podudaraju.' }
      } else {
        this.createUser({ Email: this.email, Password: this.password })
          .then((result) => {
            this.loading = false
            if (result.status === 200) {
              this.$router.push('/')
            }
          })
          .catch((error) => {
            this.loading = false
            if (error.response && error.response.data) {
              this.alert = {
                type: 'error',
                message: error.response.data.message || error.response.status
              }
            }
          })
      }
    },
    ...mapActions({
      checkRegistration: 'user/checkRegistration',
      createUser: 'user/create',
      verify: 'user/verify'
    })
  }
}
</script>
<style>
.register-card {
  max-width: 400px;
  margin: 0 auto;
  margin-top: 50px;
}
.register-form {
  max-width: 300px;
  margin: 0 auto;
}
.ant-steps {
  max-width: 400px;
  padding-top: 50px;
  margin: 0 auto;
}
.register-form button {
  float: right;
}
.register-form .ant-input-affix-wrapper .ant-input-prefix {
  left: 12px;
  margin-top: 7px;
}
.register-form.mg input,
.register-form button {
  margin-top: 15px;
}
.ant-input-number-lg {
  width: 50px;
}
</style>
