<template>
  <Layout>
    <Header>
      <StudentMenu :selected-keys="selectedKeys" />
    </Header>
    <Layout>
      <Layout class="main-layout">
        <Content>
          <Status :student-id="user.studentid" />
        </Content>
      </Layout>
    </Layout>
  </Layout>
</template>
<script>
import { Layout } from 'ant-design-vue'
import StudentMenu from '../../components/StudentMenu.vue'
import Status from '../../components/Status.vue'
const { Header, Content } = Layout
export default {
  layout: 'auth',
  components: {
    Status,
    Layout,
    Header,
    Content,
    StudentMenu
  },
  data() {
    return {
      selectedKeys: ['status']
    }
  }
}
</script>
